<%- include('layout/navbar') %>

<div class="parentForm">
  <div class="headingContAdd">
    <h1>Add User</h1>
  </div>
  <div class="formContainer">
    <form class="form">
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter name"
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div>
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="Enter phone"
        />
      </div>
      <div>
        <label for="image">Image</label>
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          placeholder="Enter image"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
